# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node / Bun
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# Build output
dist/

# Logs
logs/
*.log

# Temporary files
*.tmp
*.temp
.tmp/
.temp/